(
  formations: [
    (
      r#repeat-every: Some((
        secs: 4,
        nanos: 0,
      )),
      delay: (
        secs: 1,
        nanos: 0,
      ),
      robots: 1,
      r#initial-position: (
        shape: line(((
          x: 0.45,
          y: 0.0,
        ), (
          x: 0.55,
          y: 0.0,
        ))),
        r#placement-strategy: equal,
      ),
      waypoints: [
        (
          shape: line(((
            x: 0.45,
            y: 1.25,
          ), (
            x: 0.55,
            y: 1.25,
          ))),
          r#projection-strategy: identity,
        ),
      ],
    ),
    (
      r#repeat-every: Some((
        secs: 4,
        nanos: 0,
      )),
      delay: (
        secs: 2,
        nanos: 0,
      ),
      robots: 1,
      r#initial-position: (
        shape: line(((
          x: 0.0,
          y: 0.45,
        ), (
          x: 0.0,
          y: 0.55,
        ))),
        r#placement-strategy: equal,
      ),
      waypoints: [
        (
          shape: line(((
            x: 1.25,
            y: 0.45,
          ), (
            x: 1.25,
            y: 0.55,
          ))),
          r#projection-strategy: identity,
        ),
      ],
    ),
  ],
)
