(
  formations: [
    (
      repeat: false,
      delay: (
        secs: 1,
        nanos: 0
      ),
      robots: 4,
      waypoints: [
        (
          shape: line(((
            x: 0.45,
            y: 0,
          ), (
            x: 0.55,
            y: 0,
          ))),
          r#placement-strategy: equal,
        ),
        (
          shape: line(((
            x: 0.45,
            y: 0.45,
          ), (
            x: 0.55,
            y: 0.55,
          ))),
          r#placement-strategy: map,
        ),
        (
          shape: line(((
            x: 0.0,
            y: 0.45,
          ), (
            x: 0.0,
            y: 0.55,
          ))),
          r#placement-strategy: map,
        ),
        // (
        //   shape: line(((
        //     x: 0.0,
        //     y: 0.4,
        //   ), (
        //     x: 0.0,
        //     y: 0.6,
        //   ))),
        //   r#placement-strategy: map,
        // ),
      ],
    ),
  ],
)
