(
  formations: [
    (
      repeat: false,
      delay: 0.5,
      robots: 10,
      waypoints: [
        (
          shape: line(((
            x: 0.0,
            y: 0.0,
          ), (
            x: 1.0,
            y: 0.0,
          ))),
          r#placement-strategy: random,
        ),
        (
          shape: line(((
            x: 0.4,
            y: 0.4,
          ), (
            x: 0.6,
            y: 0.6,
          ))),
          r#placement-strategy: map,
        ),
        (
          shape: line(((
            x: 0.0,
            y: 0.4,
          ), (
            x: 0.0,
            y: 0.6,
          ))),
          r#placement-strategy: map,
        ),
      ],
    ),
  ],
)
